@charset "UTF-8";
/* 字體、行高、大小 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  font-family: 'Lato', sans-serif;
  color: #212529;
  font-size: 16px;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #212529; }

.sidebar {
  height: 100vh;
  min-width: 296px;
  background: #F8F9FA; }
  .sidebar .logo {
    margin: 32px; }
  .sidebar .menu a {
    padding-left: 32px; }
    .sidebar .menu a:hover {
      background: #CED4DA; }
  .sidebar .user-info {
    margin-left: 32px;
    margin-bottom: 32px; }
    .sidebar .user-info img {
      width: 40px;
      height: 40px; }
    .sidebar .user-info .user-name {
      font-weight: bold; }
    .sidebar .user-info .user-email {
      color: #6C757D; }

.admin {
  height: 100vh; }

.header {
  padding: 32px; }
  .header .page-title {
    font-size: 24px;
    margin: 0px;
    margin-right: 47px; }
  .header button:hover {
    color: #198754; }

.admin .page-content tbody tr:hover {
  background: #F8F9FA; }

.admin .page-content tbody span:hover {
  color: #198754; }

.admin .page-content .page-navigation {
  margin-bottom: 32px; }
  .admin .page-content .page-navigation .page-link {
    color: #212529;
    border: 1px solid;
    border-color: #198754; }
    .admin .page-content .page-navigation .page-link:hover {
      background: #198754;
      color: white; }
  .admin .page-content .page-navigation .page-item {
    width: 32px;
    height: 32px; }

.admin .icon-success {
  color: #198754; }

.view-moda .modal-body {
  padding: 32px; }
  .view-moda .modal-body p {
    margin: 0; }
  .view-moda .modal-body .btn-close {
    width: 24px;
    height: 24px; }
  .view-moda .modal-body .avater {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emir.jpeg?raw=true");
    background-position: center;
    background-size: cover;
    width: 141px;
    height: 141px; }
  .view-moda .modal-body .user-name {
    font-weight: bold;
    font-size: 24px; }
  .view-moda .modal-body .user-email {
    color: #6C757D;
    font-size: 14px; }
  .view-moda .modal-body .verified {
    font-size: 14px;
    background: #F8F9FA; }

.form-moda .modal-body {
  padding: 32px; }

.form-moda .modal-title {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 24px; }

.form-moda .modal-sub-title {
  font-weight: bold;
  font-size: 20px; }

.form-moda form lable {
  font-size: 14px; }

.form-moda form .form-control {
  border-radius: 2px; }

.form-moda form .check-circle {
  margin-right: 10px;
  color: #198754; }

.form-moda form .date {
  font-size: 14px; }

.form-moda form .btn {
  width: 100%;
  border: 1px solid;
  border-radius: 2px; }

.form-moda form .btn-disable {
  border-color: #CED4DA;
  color: #CED4DA; }

.form-moda form .dropdown-menu {
  width: 100%; }

.form-moda form .form-check-input {
  border-color: #212529; }

.form-moda form .form-footer .btn {
  width: 115px; }

.new-admin-moda .form-control {
  border-color: #212529; }

.edit-moda .form-control {
  border-color: #F8F9FA;
  background: #F8F9FA; }

.assignment .page-content {
  padding-left: 20px;
  padding-right: 20px; }

.assignment .task-list .list-group-item {
  padding: 12px; }

.assignment .task-list p {
  margin: 0;
  font-size: 12px; }

.assignment .task-list .author {
  color: #6C757D; }

.assignment .task-list .task-content {
  font-size: 16px; }

.assignment .assignment-comment p {
  font-size: 12px; }

.assignment .task-info .list-group-item {
  padding: 16px; }

.assignment .task-info .card-header {
  padding: 12px 16px; }

.assignment .task-info p {
  margin: 0;
  font-size: 12px; }

.assignment .task-info .task-content {
  font-size: 16px; }

.assignment .task-info .author img {
  width: 40px;
  height: 40px; }

.assignment .task-info .author .msg-time {
  color: #6C757D; }

.assignment .task-info .replay span {
  background: #F8F9FA; }

.assignment .task-info .replay .download-link {
  width: 176px;
  padding: 8px 12px;
  font-weight: bold;
  border: 1px solid;
  border-color: #CED4DA;
  background: #F8F9FA; }

.assignment .reply-area .btn {
  padding: 8px 32px;
  border-radius: 2px; }

.assignment .collapse .btn {
  padding: 8px 32px;
  border-radius: 2px; }

/*# sourceMappingURL=all.css.map */
