
/* 字體、行高、大小 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: $color-primary;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $color-primary;
}